# /etc/systemd/system/neohub-mqtt.service

[Unit]
Description=neohub-mqtt

[Install]
WantedBy=multi-user.target

[Service]
DynamicUser=yes

ExecStart=/usr/local/bin/neohub-mqtt
Environment=RUST_LOG=info
Environment=MQTT_HOST=192.168.4.20
Environment=NEOHUB_URL=wss://192.168.13.37:4243
Environment=NEOHUB_TOKEN=69696969-6969-4969-6969-696969696969

Restart=on-failure
RestartSec=10s

#[Hardening]
ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=true
ProtectControlGroups=true
ProtectKernelModules=true
PrivateDevices=true
NoNewPrivileges=true
CapabilityBoundingSet=
